In [161]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor

In [162]:
train = pd.read_csv('Downloads/titanic/train.csv')

test = pd.read_csv('Downloads/titanic/test.csv')

In [163]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [164]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [165]:
train_cat=pd.get_dummies(train,columns=['Pclass','Sex','Embarked'])

In [166]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 17 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Name           891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Pclass_1       891 non-null uint8
Pclass_2       891 non-null uint8
Pclass_3       891 non-null uint8
Sex_female     891 non-null uint8
Sex_male       891 non-null uint8
Embarked_C     891 non-null uint8
Embarked_Q     891 non-null uint8
Embarked_S     891 non-null uint8
dtypes: float64(2), int64(4), object(3), uint8(8)
memory usage: 69.7+ KB

In [167]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [168]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [169]:
test_cat=pd.get_dummies(test,columns=['Pclass','Sex','Embarked'])

In [170]:
pd.getDummies any other problems?? 

train - 20 values
test - 20 values

train - 5 values which test doesnt have  - solution , create same columns in test with values being 0 
test - 5 values which train doesnt have  - dont use these extra columns

# if test has 1 in one of the extra columns, which we are not using. What will happen.

A B C
1 0 0 

A B C D
0 0 0 1


# if test has extra columns dont drop any columns

SyntaxError: invalid syntax (<ipython-input-170-a4bf76322ecf>, line 1)

In [171]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 16 columns):
PassengerId    418 non-null int64
Name           418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Pclass_1       418 non-null uint8
Pclass_2       418 non-null uint8
Pclass_3       418 non-null uint8
Sex_female     418 non-null uint8
Sex_male       418 non-null uint8
Embarked_C     418 non-null uint8
Embarked_Q     418 non-null uint8
Embarked_S     418 non-null uint8
dtypes: float64(2), int64(3), object(3), uint8(8)
memory usage: 29.5+ KB

In [172]:
train_cat['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
861                          Giles, Mr. Frederick Edward
862    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863                    Sage, Miss. Dorothy Edith "Dolly"
864                               Gill, Mr. John William
865                             Bystrom, Mrs. (Karolina)
866                         Duran y More, Miss. Asuncion
867                 Roebling, Mr. Washington Augustus II
868                          van Melkebeke, Mr. Philemon
869                      Johnson, Master. Harold Theodor
870                                    Balkic, Mr. Cerin
871     Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872                             Carlsson, Mr. Frans Olof
873                          Vander Cruyssen, Mr. Victor
874                Abelson, Mrs. Samuel (Hannah Wizosky)
875                     Najib, Miss. Adele Kiamie "Jane"
876                        Gustafsson, Mr. Alfred Ossian
877                                 Petroff, Mr. Nedelio
878                                   Laleff, Mr. Kristo
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
881                                   Markun, Mr. Johann
882                         Dahlberg, Miss. Gerda Ulrika
883                        Banfield, Mr. Frederick James
884                               Sutehall, Mr. Henry Jr
885                 Rice, Mrs. William (Margaret Norton)
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [173]:
name = "Sutehall, Mr. Henry Jr"
name.split(',')

['Sutehall', ' Mr. Henry Jr']

In [174]:
name.split(',')[1].split('.')[0].strip()

'Mr'

In [175]:
' Dahlberg, Miss. Gerda Ulrika'.split(',')[1].split('.')[0].strip()

'Miss'

In [176]:
'Rice, Mrs. William (Margaret Norton)'.split(',')[1].split('.')[0].strip()

'Mrs'

In [177]:
getTitle = lambda x: x.split(',')[1].split('.')[0].strip()

In [178]:
getTitle(' Sage, Miss. Dorothy Edith "Dolly"')

'Miss'

In [179]:
train_cat['Title']= train_cat['Name'].apply(getTitle)

In [180]:
test_cat['Title']= test_cat['Name'].apply(getTitle)

In [181]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 18 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Name           891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Pclass_1       891 non-null uint8
Pclass_2       891 non-null uint8
Pclass_3       891 non-null uint8
Sex_female     891 non-null uint8
Sex_male       891 non-null uint8
Embarked_C     891 non-null uint8
Embarked_Q     891 non-null uint8
Embarked_S     891 non-null uint8
Title          891 non-null object
dtypes: float64(2), int64(4), object(4), uint8(8)
memory usage: 76.6+ KB

In [182]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 17 columns):
PassengerId    418 non-null int64
Name           418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Pclass_1       418 non-null uint8
Pclass_2       418 non-null uint8
Pclass_3       418 non-null uint8
Sex_female     418 non-null uint8
Sex_male       418 non-null uint8
Embarked_C     418 non-null uint8
Embarked_Q     418 non-null uint8
Embarked_S     418 non-null uint8
Title          418 non-null object
dtypes: float64(2), int64(3), object(4), uint8(8)
memory usage: 32.7+ KB

In [183]:
title_train_set = set(train_cat['Title'].values)

In [184]:
title_test_set = set(test_cat['Title'].values)

In [185]:
len(title_train_set)

17

In [186]:
len(title_test_set)

9

In [187]:
title_test_set - title_train_set

{'Dona'}

In [188]:
title_train_set-title_test_set

{'Capt',
 'Don',
 'Jonkheer',
 'Lady',
 'Major',
 'Mlle',
 'Mme',
 'Sir',
 'the Countess'}

In [189]:
train_cat = pd.get_dummies(train_cat,columns=['Title'])

In [190]:
test_cat = pd.get_dummies(test_cat,columns=['Title'])

In [191]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 34 columns):
PassengerId           891 non-null int64
Survived              891 non-null int64
Name                  891 non-null object
Age                   714 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Ticket                891 non-null object
Fare                  891 non-null float64
Cabin                 204 non-null object
Pclass_1              891 non-null uint8
Pclass_2              891 non-null uint8
Pclass_3              891 non-null uint8
Sex_female            891 non-null uint8
Sex_male              891 non-null uint8
Embarked_C            891 non-null uint8
Embarked_Q            891 non-null uint8
Embarked_S            891 non-null uint8
Title_Capt            891 non-null uint8
Title_Col             891 non-null uint8
Title_Don             891 non-null uint8
Title_Dr              891 non-null uint8
Title_Jonkheer        891 non-null uint8
Title_Lady            891 non-null uint8
Title_Major           891 non-null uint8
Title_Master          891 non-null uint8
Title_Miss            891 non-null uint8
Title_Mlle            891 non-null uint8
Title_Mme             891 non-null uint8
Title_Mr              891 non-null uint8
Title_Mrs             891 non-null uint8
Title_Ms              891 non-null uint8
Title_Rev             891 non-null uint8
Title_Sir             891 non-null uint8
Title_the Countess    891 non-null uint8
dtypes: float64(2), int64(4), object(3), uint8(25)
memory usage: 84.5+ KB

In [192]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 25 columns):
PassengerId     418 non-null int64
Name            418 non-null object
Age             332 non-null float64
SibSp           418 non-null int64
Parch           418 non-null int64
Ticket          418 non-null object
Fare            417 non-null float64
Cabin           91 non-null object
Pclass_1        418 non-null uint8
Pclass_2        418 non-null uint8
Pclass_3        418 non-null uint8
Sex_female      418 non-null uint8
Sex_male        418 non-null uint8
Embarked_C      418 non-null uint8
Embarked_Q      418 non-null uint8
Embarked_S      418 non-null uint8
Title_Col       418 non-null uint8
Title_Dona      418 non-null uint8
Title_Dr        418 non-null uint8
Title_Master    418 non-null uint8
Title_Miss      418 non-null uint8
Title_Mr        418 non-null uint8
Title_Mrs       418 non-null uint8
Title_Ms        418 non-null uint8
Title_Rev       418 non-null uint8
dtypes: float64(2), int64(3), object(3), uint8(17)
memory usage: 33.1+ KB

In [193]:
for value in title_train_set-title_test_set:
    test_cat['Title_'+value] = 0

In [194]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 34 columns):
PassengerId           891 non-null int64
Survived              891 non-null int64
Name                  891 non-null object
Age                   714 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Ticket                891 non-null object
Fare                  891 non-null float64
Cabin                 204 non-null object
Pclass_1              891 non-null uint8
Pclass_2              891 non-null uint8
Pclass_3              891 non-null uint8
Sex_female            891 non-null uint8
Sex_male              891 non-null uint8
Embarked_C            891 non-null uint8
Embarked_Q            891 non-null uint8
Embarked_S            891 non-null uint8
Title_Capt            891 non-null uint8
Title_Col             891 non-null uint8
Title_Don             891 non-null uint8
Title_Dr              891 non-null uint8
Title_Jonkheer        891 non-null uint8
Title_Lady            891 non-null uint8
Title_Major           891 non-null uint8
Title_Master          891 non-null uint8
Title_Miss            891 non-null uint8
Title_Mlle            891 non-null uint8
Title_Mme             891 non-null uint8
Title_Mr              891 non-null uint8
Title_Mrs             891 non-null uint8
Title_Ms              891 non-null uint8
Title_Rev             891 non-null uint8
Title_Sir             891 non-null uint8
Title_the Countess    891 non-null uint8
dtypes: float64(2), int64(4), object(3), uint8(25)
memory usage: 84.5+ KB

In [195]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 34 columns):
PassengerId           418 non-null int64
Name                  418 non-null object
Age                   332 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Ticket                418 non-null object
Fare                  417 non-null float64
Cabin                 91 non-null object
Pclass_1              418 non-null uint8
Pclass_2              418 non-null uint8
Pclass_3              418 non-null uint8
Sex_female            418 non-null uint8
Sex_male              418 non-null uint8
Embarked_C            418 non-null uint8
Embarked_Q            418 non-null uint8
Embarked_S            418 non-null uint8
Title_Col             418 non-null uint8
Title_Dona            418 non-null uint8
Title_Dr              418 non-null uint8
Title_Master          418 non-null uint8
Title_Miss            418 non-null uint8
Title_Mr              418 non-null uint8
Title_Mrs             418 non-null uint8
Title_Ms              418 non-null uint8
Title_Rev             418 non-null uint8
Title_Sir             418 non-null int64
Title_Don             418 non-null int64
Title_Major           418 non-null int64
Title_Jonkheer        418 non-null int64
Title_Mme             418 non-null int64
Title_Capt            418 non-null int64
Title_Lady            418 non-null int64
Title_the Countess    418 non-null int64
Title_Mlle            418 non-null int64
dtypes: float64(2), int64(12), object(3), uint8(17)
memory usage: 62.5+ KB

In [196]:
value = (train_cat['Age'][5])

In [197]:
value == np.NAN

False

In [198]:
value == np.NaN

False

In [199]:
np.isnan(value)

True

In [200]:
for df in [train_cat,test_cat]:
    df['Age_missing']=df['Age'].apply(lambda x: 1 if np.isnan(x) else 0)

In [201]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 35 columns):
PassengerId           891 non-null int64
Survived              891 non-null int64
Name                  891 non-null object
Age                   714 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Ticket                891 non-null object
Fare                  891 non-null float64
Cabin                 204 non-null object
Pclass_1              891 non-null uint8
Pclass_2              891 non-null uint8
Pclass_3              891 non-null uint8
Sex_female            891 non-null uint8
Sex_male              891 non-null uint8
Embarked_C            891 non-null uint8
Embarked_Q            891 non-null uint8
Embarked_S            891 non-null uint8
Title_Capt            891 non-null uint8
Title_Col             891 non-null uint8
Title_Don             891 non-null uint8
Title_Dr              891 non-null uint8
Title_Jonkheer        891 non-null uint8
Title_Lady            891 non-null uint8
Title_Major           891 non-null uint8
Title_Master          891 non-null uint8
Title_Miss            891 non-null uint8
Title_Mlle            891 non-null uint8
Title_Mme             891 non-null uint8
Title_Mr              891 non-null uint8
Title_Mrs             891 non-null uint8
Title_Ms              891 non-null uint8
Title_Rev             891 non-null uint8
Title_Sir             891 non-null uint8
Title_the Countess    891 non-null uint8
Age_missing           891 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 91.4+ KB

In [202]:
age_train_columns  = ['SibSp', 'Parch', 
       'Fare',  'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Sex_female', 'Sex_male', 'Title_Capt',
       'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady',
       'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme',
       'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir',
       'Title_the Countess']

In [203]:
age_column = ['Age']

train_rows_Age = train_cat[np.isnan(train_cat['Age'])==False]
prediction_rows = train_cat[np.isnan(train_cat['Age'])==True]

In [242]:
train_rows_Age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 35 columns):
PassengerId           714 non-null int64
Survived              714 non-null int64
Name                  714 non-null object
Age                   714 non-null float64
SibSp                 714 non-null int64
Parch                 714 non-null int64
Ticket                714 non-null object
Fare                  714 non-null float64
Cabin                 185 non-null object
Pclass_1              714 non-null uint8
Pclass_2              714 non-null uint8
Pclass_3              714 non-null uint8
Sex_female            714 non-null uint8
Sex_male              714 non-null uint8
Embarked_C            714 non-null uint8
Embarked_Q            714 non-null uint8
Embarked_S            714 non-null uint8
Title_Capt            714 non-null uint8
Title_Col             714 non-null uint8
Title_Don             714 non-null uint8
Title_Dr              714 non-null uint8
Title_Jonkheer        714 non-null uint8
Title_Lady            714 non-null uint8
Title_Major           714 non-null uint8
Title_Master          714 non-null uint8
Title_Miss            714 non-null uint8
Title_Mlle            714 non-null uint8
Title_Mme             714 non-null uint8
Title_Mr              714 non-null uint8
Title_Mrs             714 non-null uint8
Title_Ms              714 non-null uint8
Title_Rev             714 non-null uint8
Title_Sir             714 non-null uint8
Title_the Countess    714 non-null uint8
Age_missing           714 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 98.8+ KB

In [205]:
prediction_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 5 to 888
Data columns (total 35 columns):
PassengerId           177 non-null int64
Survived              177 non-null int64
Name                  177 non-null object
Age                   0 non-null float64
SibSp                 177 non-null int64
Parch                 177 non-null int64
Ticket                177 non-null object
Fare                  177 non-null float64
Cabin                 19 non-null object
Pclass_1              177 non-null uint8
Pclass_2              177 non-null uint8
Pclass_3              177 non-null uint8
Sex_female            177 non-null uint8
Sex_male              177 non-null uint8
Embarked_C            177 non-null uint8
Embarked_Q            177 non-null uint8
Embarked_S            177 non-null uint8
Title_Capt            177 non-null uint8
Title_Col             177 non-null uint8
Title_Don             177 non-null uint8
Title_Dr              177 non-null uint8
Title_Jonkheer        177 non-null uint8
Title_Lady            177 non-null uint8
Title_Major           177 non-null uint8
Title_Master          177 non-null uint8
Title_Miss            177 non-null uint8
Title_Mlle            177 non-null uint8
Title_Mme             177 non-null uint8
Title_Mr              177 non-null uint8
Title_Mrs             177 non-null uint8
Title_Ms              177 non-null uint8
Title_Rev             177 non-null uint8
Title_Sir             177 non-null uint8
Title_the Countess    177 non-null uint8
Age_missing           177 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 19.5+ KB

In [206]:
dt = DecisionTreeRegressor(max_depth=2)

In [207]:
dt.fit(train_rows_Age[age_train_columns],train_rows_Age['Age'])

DecisionTreeRegressor(criterion='mse', max_depth=2, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [208]:
age_values = dt.predict(prediction_rows[age_train_columns])

In [209]:
for i in range(len(age_values)):
    prediction_rows.iloc[i,3] = age_values[i]

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [210]:
prediction_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 5 to 888
Data columns (total 35 columns):
PassengerId           177 non-null int64
Survived              177 non-null int64
Name                  177 non-null object
Age                   177 non-null float64
SibSp                 177 non-null int64
Parch                 177 non-null int64
Ticket                177 non-null object
Fare                  177 non-null float64
Cabin                 19 non-null object
Pclass_1              177 non-null uint8
Pclass_2              177 non-null uint8
Pclass_3              177 non-null uint8
Sex_female            177 non-null uint8
Sex_male              177 non-null uint8
Embarked_C            177 non-null uint8
Embarked_Q            177 non-null uint8
Embarked_S            177 non-null uint8
Title_Capt            177 non-null uint8
Title_Col             177 non-null uint8
Title_Don             177 non-null uint8
Title_Dr              177 non-null uint8
Title_Jonkheer        177 non-null uint8
Title_Lady            177 non-null uint8
Title_Major           177 non-null uint8
Title_Master          177 non-null uint8
Title_Miss            177 non-null uint8
Title_Mlle            177 non-null uint8
Title_Mme             177 non-null uint8
Title_Mr              177 non-null uint8
Title_Mrs             177 non-null uint8
Title_Ms              177 non-null uint8
Title_Rev             177 non-null uint8
Title_Sir             177 non-null uint8
Title_the Countess    177 non-null uint8
Age_missing           177 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 19.5+ KB

In [211]:
train_cat = train_rows_Age+prediction_rows

In [212]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 35 columns):
PassengerId           0 non-null float64
Survived              0 non-null float64
Name                  0 non-null object
Age                   0 non-null float64
SibSp                 0 non-null float64
Parch                 0 non-null float64
Ticket                0 non-null object
Fare                  0 non-null float64
Cabin                 0 non-null object
Pclass_1              0 non-null float64
Pclass_2              0 non-null float64
Pclass_3              0 non-null float64
Sex_female            0 non-null float64
Sex_male              0 non-null float64
Embarked_C            0 non-null float64
Embarked_Q            0 non-null float64
Embarked_S            0 non-null float64
Title_Capt            0 non-null float64
Title_Col             0 non-null float64
Title_Don             0 non-null float64
Title_Dr              0 non-null float64
Title_Jonkheer        0 non-null float64
Title_Lady            0 non-null float64
Title_Major           0 non-null float64
Title_Master          0 non-null float64
Title_Miss            0 non-null float64
Title_Mlle            0 non-null float64
Title_Mme             0 non-null float64
Title_Mr              0 non-null float64
Title_Mrs             0 non-null float64
Title_Ms              0 non-null float64
Title_Rev             0 non-null float64
Title_Sir             0 non-null float64
Title_the Countess    0 non-null float64
Age_missing           0 non-null float64
dtypes: float64(32), object(3)
memory usage: 250.6+ KB

In [214]:
train_cat=train_rows_Age.append(prediction_rows)

In [215]:
train_rows_Age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 35 columns):
PassengerId           714 non-null int64
Survived              714 non-null int64
Name                  714 non-null object
Age                   714 non-null float64
SibSp                 714 non-null int64
Parch                 714 non-null int64
Ticket                714 non-null object
Fare                  714 non-null float64
Cabin                 185 non-null object
Pclass_1              714 non-null uint8
Pclass_2              714 non-null uint8
Pclass_3              714 non-null uint8
Sex_female            714 non-null uint8
Sex_male              714 non-null uint8
Embarked_C            714 non-null uint8
Embarked_Q            714 non-null uint8
Embarked_S            714 non-null uint8
Title_Capt            714 non-null uint8
Title_Col             714 non-null uint8
Title_Don             714 non-null uint8
Title_Dr              714 non-null uint8
Title_Jonkheer        714 non-null uint8
Title_Lady            714 non-null uint8
Title_Major           714 non-null uint8
Title_Master          714 non-null uint8
Title_Miss            714 non-null uint8
Title_Mlle            714 non-null uint8
Title_Mme             714 non-null uint8
Title_Mr              714 non-null uint8
Title_Mrs             714 non-null uint8
Title_Ms              714 non-null uint8
Title_Rev             714 non-null uint8
Title_Sir             714 non-null uint8
Title_the Countess    714 non-null uint8
Age_missing           714 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 98.8+ KB

In [216]:
prediction_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177 entries, 5 to 888
Data columns (total 35 columns):
PassengerId           177 non-null int64
Survived              177 non-null int64
Name                  177 non-null object
Age                   177 non-null float64
SibSp                 177 non-null int64
Parch                 177 non-null int64
Ticket                177 non-null object
Fare                  177 non-null float64
Cabin                 19 non-null object
Pclass_1              177 non-null uint8
Pclass_2              177 non-null uint8
Pclass_3              177 non-null uint8
Sex_female            177 non-null uint8
Sex_male              177 non-null uint8
Embarked_C            177 non-null uint8
Embarked_Q            177 non-null uint8
Embarked_S            177 non-null uint8
Title_Capt            177 non-null uint8
Title_Col             177 non-null uint8
Title_Don             177 non-null uint8
Title_Dr              177 non-null uint8
Title_Jonkheer        177 non-null uint8
Title_Lady            177 non-null uint8
Title_Major           177 non-null uint8
Title_Master          177 non-null uint8
Title_Miss            177 non-null uint8
Title_Mlle            177 non-null uint8
Title_Mme             177 non-null uint8
Title_Mr              177 non-null uint8
Title_Mrs             177 non-null uint8
Title_Ms              177 non-null uint8
Title_Rev             177 non-null uint8
Title_Sir             177 non-null uint8
Title_the Countess    177 non-null uint8
Age_missing           177 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 24.5+ KB

In [217]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 35 columns):
PassengerId           891 non-null int64
Survived              891 non-null int64
Name                  891 non-null object
Age                   891 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Ticket                891 non-null object
Fare                  891 non-null float64
Cabin                 204 non-null object
Pclass_1              891 non-null uint8
Pclass_2              891 non-null uint8
Pclass_3              891 non-null uint8
Sex_female            891 non-null uint8
Sex_male              891 non-null uint8
Embarked_C            891 non-null uint8
Embarked_Q            891 non-null uint8
Embarked_S            891 non-null uint8
Title_Capt            891 non-null uint8
Title_Col             891 non-null uint8
Title_Don             891 non-null uint8
Title_Dr              891 non-null uint8
Title_Jonkheer        891 non-null uint8
Title_Lady            891 non-null uint8
Title_Major           891 non-null uint8
Title_Master          891 non-null uint8
Title_Miss            891 non-null uint8
Title_Mlle            891 non-null uint8
Title_Mme             891 non-null uint8
Title_Mr              891 non-null uint8
Title_Mrs             891 non-null uint8
Title_Ms              891 non-null uint8
Title_Rev             891 non-null uint8
Title_Sir             891 non-null uint8
Title_the Countess    891 non-null uint8
Age_missing           891 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 98.3+ KB

In [218]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 35 columns):
PassengerId           418 non-null int64
Name                  418 non-null object
Age                   332 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Ticket                418 non-null object
Fare                  417 non-null float64
Cabin                 91 non-null object
Pclass_1              418 non-null uint8
Pclass_2              418 non-null uint8
Pclass_3              418 non-null uint8
Sex_female            418 non-null uint8
Sex_male              418 non-null uint8
Embarked_C            418 non-null uint8
Embarked_Q            418 non-null uint8
Embarked_S            418 non-null uint8
Title_Col             418 non-null uint8
Title_Dona            418 non-null uint8
Title_Dr              418 non-null uint8
Title_Master          418 non-null uint8
Title_Miss            418 non-null uint8
Title_Mr              418 non-null uint8
Title_Mrs             418 non-null uint8
Title_Ms              418 non-null uint8
Title_Rev             418 non-null uint8
Title_Sir             418 non-null int64
Title_Don             418 non-null int64
Title_Major           418 non-null int64
Title_Jonkheer        418 non-null int64
Title_Mme             418 non-null int64
Title_Capt            418 non-null int64
Title_Lady            418 non-null int64
Title_the Countess    418 non-null int64
Title_Mlle            418 non-null int64
Age_missing           418 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 65.8+ KB

In [219]:
test_cat['Fare']=test_cat['Fare'].fillna(np.mean(test_cat['Fare']))

In [220]:
test_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 35 columns):
PassengerId           418 non-null int64
Name                  418 non-null object
Age                   332 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Ticket                418 non-null object
Fare                  418 non-null float64
Cabin                 91 non-null object
Pclass_1              418 non-null uint8
Pclass_2              418 non-null uint8
Pclass_3              418 non-null uint8
Sex_female            418 non-null uint8
Sex_male              418 non-null uint8
Embarked_C            418 non-null uint8
Embarked_Q            418 non-null uint8
Embarked_S            418 non-null uint8
Title_Col             418 non-null uint8
Title_Dona            418 non-null uint8
Title_Dr              418 non-null uint8
Title_Master          418 non-null uint8
Title_Miss            418 non-null uint8
Title_Mr              418 non-null uint8
Title_Mrs             418 non-null uint8
Title_Ms              418 non-null uint8
Title_Rev             418 non-null uint8
Title_Sir             418 non-null int64
Title_Don             418 non-null int64
Title_Major           418 non-null int64
Title_Jonkheer        418 non-null int64
Title_Mme             418 non-null int64
Title_Capt            418 non-null int64
Title_Lady            418 non-null int64
Title_the Countess    418 non-null int64
Title_Mlle            418 non-null int64
Age_missing           418 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 65.8+ KB

In [221]:
test_cat_na = test_cat[np.isnan(test_cat['Age'])==True]
test_cat_not_na = test_cat[np.isnan(test_cat['Age'])==False]

In [222]:
test_cat_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 10 to 417
Data columns (total 35 columns):
PassengerId           86 non-null int64
Name                  86 non-null object
Age                   0 non-null float64
SibSp                 86 non-null int64
Parch                 86 non-null int64
Ticket                86 non-null object
Fare                  86 non-null float64
Cabin                 4 non-null object
Pclass_1              86 non-null uint8
Pclass_2              86 non-null uint8
Pclass_3              86 non-null uint8
Sex_female            86 non-null uint8
Sex_male              86 non-null uint8
Embarked_C            86 non-null uint8
Embarked_Q            86 non-null uint8
Embarked_S            86 non-null uint8
Title_Col             86 non-null uint8
Title_Dona            86 non-null uint8
Title_Dr              86 non-null uint8
Title_Master          86 non-null uint8
Title_Miss            86 non-null uint8
Title_Mr              86 non-null uint8
Title_Mrs             86 non-null uint8
Title_Ms              86 non-null uint8
Title_Rev             86 non-null uint8
Title_Sir             86 non-null int64
Title_Don             86 non-null int64
Title_Major           86 non-null int64
Title_Jonkheer        86 non-null int64
Title_Mme             86 non-null int64
Title_Capt            86 non-null int64
Title_Lady            86 non-null int64
Title_the Countess    86 non-null int64
Title_Mlle            86 non-null int64
Age_missing           86 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 14.2+ KB

In [223]:
values = dt.predict(test_cat_na[age_train_columns])

In [224]:
for i in range(len(values)):
    test_cat_na.iloc[i,2] = values[i]

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [225]:
test_cat_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86 entries, 10 to 417
Data columns (total 35 columns):
PassengerId           86 non-null int64
Name                  86 non-null object
Age                   86 non-null float64
SibSp                 86 non-null int64
Parch                 86 non-null int64
Ticket                86 non-null object
Fare                  86 non-null float64
Cabin                 4 non-null object
Pclass_1              86 non-null uint8
Pclass_2              86 non-null uint8
Pclass_3              86 non-null uint8
Sex_female            86 non-null uint8
Sex_male              86 non-null uint8
Embarked_C            86 non-null uint8
Embarked_Q            86 non-null uint8
Embarked_S            86 non-null uint8
Title_Col             86 non-null uint8
Title_Dona            86 non-null uint8
Title_Dr              86 non-null uint8
Title_Master          86 non-null uint8
Title_Miss            86 non-null uint8
Title_Mr              86 non-null uint8
Title_Mrs             86 non-null uint8
Title_Ms              86 non-null uint8
Title_Rev             86 non-null uint8
Title_Sir             86 non-null int64
Title_Don             86 non-null int64
Title_Major           86 non-null int64
Title_Jonkheer        86 non-null int64
Title_Mme             86 non-null int64
Title_Capt            86 non-null int64
Title_Lady            86 non-null int64
Title_the Countess    86 non-null int64
Title_Mlle            86 non-null int64
Age_missing           86 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 14.2+ KB

In [226]:
test_cat2 = test_cat_not_na.append(test_cat_na)

In [227]:
test_cat2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 35 columns):
PassengerId           418 non-null int64
Name                  418 non-null object
Age                   418 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Ticket                418 non-null object
Fare                  418 non-null float64
Cabin                 91 non-null object
Pclass_1              418 non-null uint8
Pclass_2              418 non-null uint8
Pclass_3              418 non-null uint8
Sex_female            418 non-null uint8
Sex_male              418 non-null uint8
Embarked_C            418 non-null uint8
Embarked_Q            418 non-null uint8
Embarked_S            418 non-null uint8
Title_Col             418 non-null uint8
Title_Dona            418 non-null uint8
Title_Dr              418 non-null uint8
Title_Master          418 non-null uint8
Title_Miss            418 non-null uint8
Title_Mr              418 non-null uint8
Title_Mrs             418 non-null uint8
Title_Ms              418 non-null uint8
Title_Rev             418 non-null uint8
Title_Sir             418 non-null int64
Title_Don             418 non-null int64
Title_Major           418 non-null int64
Title_Jonkheer        418 non-null int64
Title_Mme             418 non-null int64
Title_Capt            418 non-null int64
Title_Lady            418 non-null int64
Title_the Countess    418 non-null int64
Title_Mlle            418 non-null int64
Age_missing           418 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 69.0+ KB

In [228]:
train_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 888
Data columns (total 35 columns):
PassengerId           891 non-null int64
Survived              891 non-null int64
Name                  891 non-null object
Age                   891 non-null float64
SibSp                 891 non-null int64
Parch                 891 non-null int64
Ticket                891 non-null object
Fare                  891 non-null float64
Cabin                 204 non-null object
Pclass_1              891 non-null uint8
Pclass_2              891 non-null uint8
Pclass_3              891 non-null uint8
Sex_female            891 non-null uint8
Sex_male              891 non-null uint8
Embarked_C            891 non-null uint8
Embarked_Q            891 non-null uint8
Embarked_S            891 non-null uint8
Title_Capt            891 non-null uint8
Title_Col             891 non-null uint8
Title_Don             891 non-null uint8
Title_Dr              891 non-null uint8
Title_Jonkheer        891 non-null uint8
Title_Lady            891 non-null uint8
Title_Major           891 non-null uint8
Title_Master          891 non-null uint8
Title_Miss            891 non-null uint8
Title_Mlle            891 non-null uint8
Title_Mme             891 non-null uint8
Title_Mr              891 non-null uint8
Title_Mrs             891 non-null uint8
Title_Ms              891 non-null uint8
Title_Rev             891 non-null uint8
Title_Sir             891 non-null uint8
Title_the Countess    891 non-null uint8
Age_missing           891 non-null int64
dtypes: float64(2), int64(5), object(3), uint8(25)
memory usage: 98.3+ KB

In [229]:
train_cat.columns

Index(['PassengerId', 'Survived', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female',
       'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S', 'Title_Capt',
       'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady',
       'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme',
       'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir',
       'Title_the Countess', 'Age_missing'],
      dtype='object')

In [230]:
X_columns = ['Age', 'SibSp', 'Parch', 
       'Fare',  'Pclass_1', 'Pclass_2', 'Pclass_3', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Sex_female',  'Title_Capt',
       'Title_Col', 'Title_Don', 'Title_Dr', 'Title_Jonkheer', 'Title_Lady',
       'Title_Major', 'Title_Master', 'Title_Miss', 'Title_Mlle', 'Title_Mme',
       'Title_Mr', 'Title_Mrs', 'Title_Ms', 'Title_Rev', 'Title_Sir',
       'Title_the Countess', 'Age_missing']
y_columns= ['Survived']

In [231]:
X = train_cat[X_columns]
y = train_cat[y_columns].values.flatten()

In [232]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,stratify=y,test_size=0.3)

In [234]:
%%time
params_rf={
    
    'criterion':['entropy'],
    'max_depth':[4],
    'min_samples_leaf': [2],
    'max_features': [19]
    
    
    
}
model = GridSearchCV(RandomForestClassifier(n_estimators=30,random_state=42), params_rf,cv=5,n_jobs=-1)
model.fit(X_train,y_train)

Wall time: 10.9 s

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=30, n_jobs=None,
                                              oob_score=False, random_state=42,
                                              verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['entropy'], 'max_depth': [4],
                         'max_features': [19], 'min_samples_leaf': [2]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [235]:
print(model.best_params_)
print(model.best_score_)
print(model.score(X_test,y_test))

{'criterion': 'entropy', 'max_depth': 4, 'max_features': 19, 'min_samples_leaf': 2}
0.8426966292134831
0.8097014925373134

In [236]:
X_test.shape

(268, 29)

In [237]:
model = RandomForestClassifier(n_estimators=200,random_state=42,n_jobs=-1,max_depth=4,
                               min_samples_leaf=2,max_features=19,criterion='entropy')
model.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=19, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=2, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=-1, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [238]:
test_cat2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 417
Data columns (total 35 columns):
PassengerId           418 non-null int64
Name                  418 non-null object
Age                   418 non-null float64
SibSp                 418 non-null int64
Parch                 418 non-null int64
Ticket                418 non-null object
Fare                  418 non-null float64
Cabin                 91 non-null object
Pclass_1              418 non-null uint8
Pclass_2              418 non-null uint8
Pclass_3              418 non-null uint8
Sex_female            418 non-null uint8
Sex_male              418 non-null uint8
Embarked_C            418 non-null uint8
Embarked_Q            418 non-null uint8
Embarked_S            418 non-null uint8
Title_Col             418 non-null uint8
Title_Dona            418 non-null uint8
Title_Dr              418 non-null uint8
Title_Master          418 non-null uint8
Title_Miss            418 non-null uint8
Title_Mr              418 non-null uint8
Title_Mrs             418 non-null uint8
Title_Ms              418 non-null uint8
Title_Rev             418 non-null uint8
Title_Sir             418 non-null int64
Title_Don             418 non-null int64
Title_Major           418 non-null int64
Title_Jonkheer        418 non-null int64
Title_Mme             418 non-null int64
Title_Capt            418 non-null int64
Title_Lady            418 non-null int64
Title_the Countess    418 non-null int64
Title_Mlle            418 non-null int64
Age_missing           418 non-null int64
dtypes: float64(2), int64(13), object(3), uint8(17)
memory usage: 69.0+ KB

In [239]:
values = model.predict(test_cat2[X_columns])

In [240]:
values

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1],
      dtype=int64)

In [241]:
submission = pd.DataFrame({'PassengerId': test_cat2['PassengerId'],
                          'Survived': values})

submission.to_csv('titanic20.csv',index=False)