In [1]:
a=5
b=10
a+b

15

In [11]:
20+ 30

50

In [3]:
30-20

10

In [4]:
30*20

600

In [5]:
30/20

1.5

In [6]:
30//20

1

In [7]:
(30%20)/20

0.5

In [8]:
a = 30/20
a

1.5

In [9]:
30//20

1

In [10]:
30/20-30//20

0.5

In [8]:
2**10

1024

In [12]:
2**(1/2)

1.4142135623730951

In [17]:
print("Hello, World!,3,4")
print("ravi")

Hello, World!,3,4
ravi

In [18]:
a= 43294623486234826348692839642994264896126412694986126894682168948126986428616949682186486912468921646128416892481268468219684168924612946194

In [19]:
a

43294623486234826348692839642994264896126412694986126894682168948126986428616949682186486912468921646128416892481268468219684168924612946194

In [20]:
type(a)

int

In [21]:
type(15.5)

float

In [22]:
type("Hello, World!")

str

In [23]:
type('a')

str

In [24]:
type(True)

bool

In [25]:
type(False)

bool

In [21]:
type(None)

NoneType

In [22]:
"ravi"

'ravi'

In [26]:
"12"+5

TypeError: can only concatenate str (not "int") to str

In [28]:
int("12")+5

17

In [26]:
int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [27]:
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [28]:
int("12.5")

ValueError: invalid literal for int() with base 10: '12.5'

In [29]:
float("12.5")+4

16.5

In [30]:
int(14.6)

14

In [31]:
a = "12.5"

In [34]:
# int(float(a))
b = float(a)
c = int(b)
c

12

In [35]:
b = float(a)
b

12.5

In [36]:
int(b)

12

In [37]:
a = 12.5
int(a)

12

In [39]:
int(float("12.5"))

12

In [40]:
float("12.5")

12.5

In [41]:
int(12.5)

12

In [46]:
a=4

In [47]:
a

4

In [37]:
a=4
a= a+4
a

8

In [38]:
a=4
a+=4 # a = a + 4
a

8

In [39]:
a= 20

In [40]:
a == 10

False

In [41]:
a == 20

True

In [42]:
30 > 20

True

In [43]:
30 > 50

False

In [44]:
30>30

False

In [45]:
30>=30

True

In [46]:
20 != 20

False

In [59]:
20 != 30

True

In [47]:
30>20

True

In [48]:
not 30>20  # ! 30>20

False

In [62]:
True and True

True

In [63]:
True and False

False

In [64]:
30>20 and 30>10

True

In [65]:
30>20 and 30>40

False

In [66]:
30>20 or 30>40

True

In [61]:
number = 59
if number%2==0:
    print("even")
    print("end of even condition")
else:
    print("odd")
    print("end of odd condition")

odd
end of odd condition

In [ ]:
int number=60;
if (number%2==0){
    printf("even")
    
}

In [66]:
marks = 90
if marks>=85:
    print("Distinction")
elif marks>=40:
    print("pass")
else:
    print("not pass")

Distinction

In [76]:
for i in range(10):
    print(i)
    if i%2==0 and i%3==0:
        print("this is divisble by 6")
    elif i%3==0:
        print("it is divisible by 3")
    elif i%2==0:
        print("It is divisble by 2")
    else:
        print("it is not divisible by 2,3,6")

0
this is divisble by 6
1
it is not divisible by 2,3,6
2
It is divisble by 2
3
it is divisible by 3
4
It is divisble by 2
5
it is not divisible by 2,3,6
6
this is divisble by 6
7
it is not divisible by 2,3,6
8
It is divisble by 2
9
it is divisible by 3

In [70]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [73]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [74]:
for i in range(1,6,2):
    print(i)

1
3
5

In [107]:
# sum of numbers from 1 to 100.
total=0
for i in range(1,101):
    total=total+i
print(total)

5050

In [1]:
total=0
i=1  total=0+1
i=2  total = 0+1+ 2
i=3  total = 0+1+2 +3
i=4 total = 0+1+2+3 +4
i=5 total=0+1+2+3+4 +5= 15

SyntaxError: invalid syntax (<ipython-input-1-b09524804c3e>, line 2)

In [77]:
# sum of odd numbers from 1 to 100.
total=0
for i in range(1,101,2):
    total=total+i
print(total)

2500

In [78]:
# sum of odd numbers from 1 to 100.
total=0
for i in range(1,101):
    if i%2!=0:
        total=total+i
print(total)

2500

In [79]:
# sum of odd numbers from 1 to 100.
total=0
for i in range(1,101):
    if i%2==0:
        total=total+i
print(total)

2550

In [80]:
#sum of  multiples of 5 from 1,100
total=0
for i in range(1,101):
    if i%5==0:
        total=total+i
print(total)

1050

In [83]:
total=0
for i in range(5,101,5):    
    total=total+i
print(total)

1050

In [96]:
for i in range(13,1,-2):    
    if i==5:
        break
    if i==11:
        continue
    print(i)

13
9
7

In [1]:
# use if condition to check if number is divisble by 5
# add values from 1 to 50 inclusive
# add only 5 multiples from 1 to 50
# add numbers which are not multiples of 5 from 1 to 50

In [2]:
total= 0
for i in range(0,51,5):
    total+=i
print(total)

275

In [4]:
total= 0
for i in range(1,51):
    if i%5!=0:
        total+=i
print(total)

1000

In [17]:
number = 53
no_divisiors=0
for i in range(2,number):
    if number%i==0:
        no_divisiors+=1
        print("not prime","divisible by",i)
        break 
if no_divisiors==0:
    print("prime")

prime

In [18]:
number=49
no_divisiors=0
for i in range(2,number):
    if number%i==0:
        no_divisiors+=1
        print("not prime","divisible by",i)
        break 
if no_divisiors==0:
    print("prime")

not prime divisible by 7

In [19]:
number=99
no_divisiors=0
for i in range(2,number):
    if number%i==0:
        no_divisiors+=1
        print("not prime","divisible by",i)
        break 
if no_divisiors==0:
    print("prime")

not prime divisible by 3

In [20]:
def add(a,b):
    print(a+b)

In [21]:
add(5,6)

11

In [22]:
add(10,20)

30

In [23]:
def square(a):
    print(a**2)

In [24]:
square(10)

100

In [25]:
square(25)

625

In [26]:
def tentimes(n):
    print(n*10)

In [27]:
tentimes(15)

150

In [28]:
square(10)+square(15)

100
225

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [29]:
a= square(10)
a

100

In [30]:
b= square(15)
b

225

In [43]:
def isEven1(number):
    if number%2==0:
        print("even")
    else:
        print("odd")

In [36]:
isEven(10)

even

In [37]:
isEven(25)

odd

In [38]:
for i in range(1,11):
    isEven(i)

odd
even
odd
even
odd
even
odd
even
odd
even

In [44]:
def isEven2(number):
    if number%2==0:
        return True
    else:
        return False

In [46]:
a =isEven1(10)

even

In [47]:
a

In [48]:
print(a)

None

In [49]:
a =isEven2(10)

In [50]:
a

True

In [51]:
b= isEven2(15)

In [52]:
b

False

In [53]:
for i in range(1,11):
    if isEven2(i):
        print(i)

2
4
6
8
10

In [60]:
def square1(a):
    print(a**2)

In [57]:
b=square(10)

100

In [58]:
b

In [61]:
square1(10)+square1(20)

100
400

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [62]:
def square2(a):
    return(a**2)

In [63]:
square2(10)+square2(15)

325

In [67]:
def isPrime(number):    
    no_divisiors=0
    for i in range(2,number):
        if number%i==0:
            no_divisiors+=1
            return False
            break 
    if no_divisiors==0:
        return True

In [68]:
isPrime(23)

True

In [69]:
isPrime(100)

False

In [70]:
for i in range(1,101):
    if isPrime(i):
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [73]:
def add(a=20,b=10):
    return a+b

In [74]:
add(50,50)

100

In [75]:
add(50)

60

In [76]:
add()

30

In [77]:
add(b=100)

120

In [78]:
def subtract(a=30,b=10):
    return a-b

In [90]:
subtract(a=10,b=30)

-20

In [80]:
subtract(b=50,a=20)

-30

In [88]:
print("Hello",end= ',')
print('ravi', "world",sep='--')

Hello,ravi--world

In [1]:
Q1) write a function whicg returns true 
if number is even , false if number is odd

Q2) use range(1,101) and use the function in Q1 
to print only even numbers

Q3) use range(1,101) and use the function in Q1
to get sum of even numbers .

Q4) Write a function to print all factors of a number

Q5) Write a function which will return sum of factors of a number

SyntaxError: invalid syntax (<ipython-input-1-02e24b6e17b4>, line 1)

In [2]:
def isEven(number):
    if number%2==0:
        return True
    else:
        return False
    
def isEven(number):
    return number%2==0

In [3]:
isEven(28)

True

In [4]:
isEven(29)

False

In [5]:
for i in range(1,101):
    if isEven(i):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [6]:
total=0
for i in range(1,101):
    if isEven(i):
        total+=i
print(total)

2550

In [7]:
def sumOfEvenNumberFrom(start,end):
    total=0
    for i in range(start,end):
        if isEven(i):
            total=total+i
    return total

In [8]:
sumOfEvenNumberFrom(1,101)

2550

In [9]:
def allFactors(number):
    for i in range(1,number+1):
        if number%i==0:
            print(i)

In [10]:
allFactors(10)

1
2
5
10

In [11]:
allFactors(100)

1
2
4
5
10
20
25
50
100

In [12]:
def sumAllFactors(number):
    total=0
    for i in range(1,number+1):
        if number%i==0:
            total+=i
    return total

In [13]:
sumAllFactors(10)

18

In [ ]:
#date 20 classs started  array in list

In [16]:
array1 = [1,True,None,'hello', [2,3,4],5.5]

In [17]:
array1

[1, True, None, 'hello', [2, 3, 4], 5.5]

In [19]:
array1[3]

'hello'

In [20]:
array1[-1]

5.5

In [22]:
array1[-2]

[2, 3, 4]

In [23]:
array1[-2][1]

3

In [26]:
array1[2]= "100"

In [27]:
array1

[1, True, '100', 'hello', [2, 3, 4], 5.5]

In [28]:
int(array1[2])

100

In [29]:
array1

[1, True, '100', 'hello', [2, 3, 4], 5.5]

In [31]:
array1[2]= int(array1[1])

In [32]:
array1

[1, True, 1, 'hello', [2, 3, 4], 5.5]

In [33]:
for i in array1:
    print(i)

1
True
1
hello
[2, 3, 4]
5.5

In [34]:
for i in (1,100):
    print(i)

1
100

In [35]:
1 in array1

True

In [36]:
100 in array1

False

In [37]:
not 100 in array1

True

In [38]:
3 in array1

False

In [39]:
[2,3,4] in array1

True

In [40]:
3 in array1[4]

True

In [41]:
len(array1)

6

In [42]:
array1

[1, True, 1, 'hello', [2, 3, 4], 5.5]

In [43]:
array1.append(100)

In [44]:
array1

[1, True, 1, 'hello', [2, 3, 4], 5.5, 100]

In [45]:
array1.insert(3,-100)

In [46]:
array1

[1, True, 1, -100, 'hello', [2, 3, 4], 5.5, 100]

In [47]:
array1.remove(-100)

In [48]:
array1

[1, True, 1, 'hello', [2, 3, 4], 5.5, 100]

In [49]:
array1.remove(-100)

ValueError: list.remove(x): x not in list

In [50]:
if -100 in array1:
    array1.remove(-100)

In [51]:
while(condition is true):
    Will keep repeating..

SyntaxError: invalid syntax (<ipython-input-51-413e0c809018>, line 2)

In [53]:
number=10
while(number>0):
    print(number)
    number-=1

10
9
8
7
6
5
4
3
2
1

In [54]:
while(1 in array1):
    array1.remove(1)

In [55]:
array1

['hello', [2, 3, 4], 5.5, 100]

In [56]:
arr1 = [1,2,1,2,3,1,2,1,2,3]

In [57]:
while(2 in arr1):
    arr1.remove(2)

In [58]:
arr1

[1, 1, 3, 1, 1, 3]

In [59]:
while(1 in arr1):
    arr1.remove(1)
    print(arr1)

[1, 3, 1, 1, 3]
[3, 1, 1, 3]
[3, 1, 3]
[3, 3]

In [60]:
arr1 = [1,2,1,2,3,1,2,1,2,3]

In [61]:
for i in arr1:
    if i==1:
        arr1.remove(i)

In [62]:
arr1

[2, 2, 3, 2, 2, 3]

In [63]:
arr1 = [1,2,1,2,3,1,2,1,2,3]
def removeAll(array,value):
    while(value in array):
        array.remove(value)
        
removeAll(arr1,2)
removeAll(arr1,3)

In [64]:
arr1

[1, 1, 1, 1]

In [65]:
arr1

[1, 1, 1, 1]

In [66]:
counter=0
while(counter<10):
    arr1.append(2)
    counter+=1
arr1

[1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

In [67]:
for i in range(10):
    arr1.append(3)

In [68]:
arr1

[1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [79]:
arr1=[]

In [80]:
for i in range(3):
    arr1.append(1)
    arr1.append(2)
    arr1.append(3)
arr1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
print(arr1)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [73]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [74]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [78]:
print(arr1)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [81]:
arr1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
#slicing

In [49]:
arr1=[1,2,3,4,5,6,7]

In [50]:
arr1[:]

[1, 2, 3, 4, 5, 6, 7]

In [51]:
arr1[4:]

[5, 6, 7]

In [52]:
arr1[:5]

[1, 2, 3, 4, 5]

In [85]:
arr1[2:5]

[3, 1, 2]

In [86]:
arr1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [87]:
arr1[3:-1]

[1, 2, 3, 1, 2]

In [90]:
arr1[-1:3:-2]

[3, 1, 2]

In [91]:
arr1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [92]:
arr1.index(3)

2

In [95]:
arr1.count(2)

3

In [96]:
max(arr1)

3

In [97]:
min(arr1)

1

In [98]:
sum(arr1)

18

In [99]:
sum=0

In [100]:
sum(arr1)

TypeError: 'int' object is not callable

In [2]:
arr1 = [1,2,3,1,2,3,1,2,3]

In [3]:
arr1

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
arr1.sort(reverse=True)

In [9]:
arr1

[3, 3, 3, 2, 2, 2, 1, 1, 1]

In [10]:
arr1.reverse()

In [11]:
arr1

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [12]:
def total(array):
    total1=0
    for i in array:
        total1= total1+i
    return total1

In [13]:
total(arr1)

18

In [7]:
arr1=[1,2,3]

In [8]:
def product(array):
    product1 = 1
    for i in array:
        product1*=i
    return product1

In [9]:
product(arr1)

6

In [24]:
# find maximum element in array

def maximum(array):
    max_value=array[0]
    for i in array:
        if i>max_value:
            max_value=i
    return max_value

SyntaxError: invalid syntax (<ipython-input-24-eecd5d1ef89b>, line 4)

In [20]:
maximum([1,2,3,4,5])

5

In [21]:
maximum([-1,-2,-3])

-1

In [22]:
maximum([-2,-1,-3])

-1

In [23]:
maximum([])

IndexError: list index out of range

In [25]:
def minimum(array):
    min_value=array[0]
    for i in array:
        if i<min_value:
            min_value=i
    return min_value

In [26]:
minimum([1,2,3,4,5])

1

In [27]:
Sum of square of elements of array
[1,2,3,4,5]=> 1+4+9+16+25 = 55

SyntaxError: invalid syntax (<ipython-input-27-c98c95f0a803>, line 1)

In [28]:
def sumSqaures(array):
    total=0
    for i in array:
        total+=i*i
    return total

In [29]:
sumSqaures([1,2,3,4,5])

55

In [143]:
# replace each elemnt in array by its square

In [144]:
array = [10,11,12,13,14,15]

In [145]:
for i in array:
    print(i)

10
11
12
13
14
15

In [146]:
array

[10, 11, 12, 13, 14, 15]

In [147]:
#square

In [156]:
array=[10,11,12,13]

In [157]:
def square(array):
    for i in range(len(array)):
        array[i]=array[i]**2
    return(array)

In [158]:
array

[10, 11, 12, 13]

In [159]:
square(array)

[100, 121, 144, 169]

In [1]:
# double all elements in array
# sum of cubes of elemenets of array
# get first half sub-array  of array

Write functions for all the above

SyntaxError: invalid syntax (<ipython-input-1-17a9aaaa204f>, line 5)

In [121]:
array=[1,2,3]

def double(array):
    for i in range(0,len(array)):
        array[i]=((array[i])*2)
    return (array)


double(array)